<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Journal Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add New Journal Entry</h1>
        <form action="{{ url_for('add_entry') }}" method="POST">
            <label for="thoughts">What's on your mind today?</label>
            <textarea name="thoughts" id="thoughts" required></textarea><br><br>
            <label for="mood">Rate your mood (1-10 or Happy/Sad/Neutral)</label>
            <input type="text" name="mood" id="mood" required><br><br>
            <button type="submit">Save Entry</button>
        </form>
	  </br>
        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>
</body>
</html>
