body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #444;
}

.quote {
    text-align: center;
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
}

.quote p {
    margin: 5px 0;
}

.nav-links, .form, .entry-form {
    text-align: center;
    margin-bottom: 20px;
}

.nav-links a, .button, .form-button, .back-button {
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover, .button:hover, .form-button:hover, .back-button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, .form-label {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333;
}

textarea, input, .form-textarea, .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: #333;
}

textarea {
    height: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background: #eee;
    border-radius: 4px;
}

.entries-list {
    margin-bottom: 20px;
}

.entry {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.entry p {
    margin: 5px 0;
    color: #333;
}

.collapsible {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.collapsible:hover {
    background-color: #0056b3;
}

.content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
