<!DOCTYPE html>
<html>
<head>
    <title>Analytics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2><font color="burlywood">This week's Analytics</font></h2>
    <table border="1"  width="800" height="300" bgcolor="whitesmoke">
        <tr>
            <th>Week</th>
            <th>Total Time</th>
            <th>Tasks Done</th> 
        </tr>
        
        <tr>
            <td>{{date_completed}}</td>
            <td>{{total_duration}} min</td>
            <td>{{tasks_done}}</td>
        </tr>
                        
                    
    </table>
    
</body>
</html>

